/* TODO adicinar var colors */
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1050px;
  font-family: "Roboto", sans-serif;
  background-color: #19323c;
  color: #f3f7f0;
  margin: 40px auto;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 2.5rem;
}

h3,
p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #f3f7f0;
}

a:visited {
  color: inherit;
}

#header {
  text-align: right;
}

#header a {
  /* color: #f3f7f0; */
  padding: 5px 10px;
  transition: background-color 500ms;
}

#header a:hover {
  background-color: #f2545b;
}

#profile-container {
  max-width: 450px;
  margin: 90px auto;
  text-align: center;
}

#profile-image {
  width: 185px;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 30px;
}

#profile-name {
  font-size: 3rem;
  margin-bottom: 15px;
}

#profile-description {
  font-size: 1rem;
  margin-bottom: 30px;
}

#profile-cv-link {
  color: #f3f7f0;
  padding: 5px 10px;
  margin-bottom: 30px;
  font-weight: bolder;
  border: solid 2px #f2545b;
  transition: background-color 500ms;
}

#profile-cv-link:hover {
  background-color: #f2545b;
}

#experiences-container {
  text-align: center;
  margin-bottom: 50px;
}

#card-container {
  text-align: left;
  margin: 30px 10px;
  display: flex;
  min-height: 310px;
}

.card {
  margin: 0px 15px;
  border-radius: 7px;
  padding: 15px 25px;
  border: 1px solid #19323c;
  background-color: #213a44;
  box-shadow: 0px 0px 20px 3px #112229;
  transition: border-bottom 500ms;
}

.card-content {
  opacity: 0.2;
  transition: opacity 500ms;
}

.card-content:hover {
  opacity: 1;
}

.card:nth-child(1):hover {
  border-bottom: #5fdafa solid 10px;
}

.card:nth-child(1):hover #react-icon {
  color: #5fdafa;
  background: #1598c0;
}

.card:nth-child(2):hover {
  border-bottom: #90c53f solid 10px;
}

.card:nth-child(2):hover #node-icon {
  color: #90c53f;
  background: #6f8c41;
}

.card:nth-child(3):hover {
  border-bottom: #e31f71 solid 10px;
}

.card:nth-child(3):hover #cloud-icon {
  color: #e31f71;
  background: #4f2839;
}

.card-icon {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 900;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 12px;
  transition: color, background-color 500ms;
}

.card-title {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-body {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#contact-title {
  text-align: center;
  margin-bottom: 40px;
}

#contact-content {
  display: flex;
  padding: 3px;
  width: 90%;
}

#contact-details {
  line-height: 39px;
  margin-bottom: 20px;
}

.contact-details-group {
  display: flex;
  align-items: center;
}

.contact-details-group i {
  margin-right: 10px;
  font-size: 15px;
}

#adress-content {
  width: 50%;
  padding-left: 20px;
}

#map {
  width: 90%;
  margin: 15px auto;
  height: 130px;
}

#form-content {
  width: 50%;
  padding-left: 20px;
  padding: 0 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group i {
  position: relative;
  top: -27px;
  width: fit-content;
}

.form-group .fa-comment {
  top: -137px;
}

.form-group textarea {
  height: 126px;
  resize: none;
}

.form-group textarea::-webkit-scrollbar {
  width: 5px;
}

.form-group textarea::-webkit-scrollbar-thumb {
  background: #11222994;
  border-radius: 5px;
}

.form-group input,
textarea {
  padding-left: 25px;
  padding-bottom: 10px;
}

#form-content input,
textarea {
  margin-top: 25px;
  background-color: #19323c;
  border: none;
  border-bottom: solid 1px #f3f7f0;
  color: #f3f7f0;
}

#form-content input:focus,
textarea:focus {
  outline: none;
}

#effect-row {
  top: -17px;
  position: relative;
  width: 0;
  height: 1px;
  background: #f2545b;
  transition: width 500ms ease-out;
}

#form-content input:focus ~ #effect-row,
textarea:focus ~ #effect-row {
  width: 100%;
}

#form-content input:focus ~ i,
textarea:focus ~ i {
  color: #f2545b;
}

#form-content button {
  color: #f3f7f0;
  margin-top: 10px;
  background-color: #f2545b;
  border-radius: 4px;
  padding: 8px;
  margin-top: 29px;
  float: right;
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-container i {
  font-size: 30px;
  margin-left: 15px;
}

/* media querys */

@media (max-width: 800px) {
  #card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: auto;
    max-width: 313px;
    margin-bottom: 10px;
    overflow: unset;
  }

  #adress-content {
    width: 100%;
    margin-top: 40px;
    padding: 0;
  }

  #contact-container {
    margin-bottom: 0;
  }

  #contact-content {
    flex-direction: column-reverse;
  }

  #contact-content h3 {
    display: none;
  }

  #form-content {
    width: 100%;
    padding: 0;
  }

  #map {
    display: none;
  }

  #footer-container {
    height: 107px;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 630px) {
  body {
    margin: 40px 30px;
  }

  #header {
    text-align: center;
  }
  #header a {
    text-align: center;
    padding: 0;
  }

  #profile-container {
    margin: 50px auto;
  }

  #profile-name {
    font-size: 2.5rem;
  }
  #profile-description {
    font-size: 0.83rem;
  }

  #card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #footer-container span {
    display: block;
  }
}

@media (max-width: 400px) {
  #form-content button {
    width: 100%;
  }
}

/* animations

@keyframes mymove {
  50% {
    border-bottom: #f2545b solid 10px;
  }
} */

/* @keyframes mymove {
  from {width: 0px;}
  to { width: 100px; }
 } */
