:root {
  --background-color: #1d2a30;
  --text-color: #e0e4e8;
  --primary-color: #e74c3c;
  --accent-color-1: #00bcd4;
  --accent-color-2: #8bc34a;
  --accent-color-3: #c2185b;
  --card-background: #2c3e50;
  --card-border: #344952;
  --card-shadow: #1a252f;
  --form-border: #e0e4e8;
  --scrollbar-thumb: #1a252f99;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1050px;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 40px auto;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 2.5rem;
}

h3,
p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: inherit;
}

#burger-icon {
  display: none;
}

#burger-menu {
  display: none;
}

#burger-menu li {
  display: none;
}

#header {
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

#language-selector img {
  margin: 0 5px;
}

#header a {
  padding: 5px 10px;
  transition: background-color 500ms;
}

#header a:hover {
  background-color: var(--primary-color);
}

#profile-container {
  max-width: 450px;
  margin: 90px auto;
  text-align: center;
}

#profile-image {
  width: 185px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: solid 7px var(--text-color);
}

#profile-name {
  font-size: 3rem;
  margin-bottom: 15px;
}

#profile-description {
  font-size: 1rem;
  margin-bottom: 30px;
}

#profile-cv-link {
  color: var(--text-color);
  padding: 5px 10px;
  margin-bottom: 30px;
  font-weight: bolder;
  border: solid 2px var(--primary-color);
  transition: background-color 500ms;
}

#profile-cv-link:hover {
  background-color: var(--primary-color);
}

#experiences-container {
  text-align: center;
  margin-bottom: 50px;
}

#card-container {
  text-align: left;
  margin: 30px 10px;
  display: flex;
  min-height: 310px;
}

.card {
  margin: 0px 15px;
  min-width: 260px;
  border-radius: 7px;
  padding: 30px 25px;
  border: 1px solid var(--card-border);
  background-color: var(--card-background);
  box-shadow: 0px 0px 20px 3px var(--card-shadow);
  transition: border-bottom 500ms, opacity 500ms;
  opacity: 0.3;
}

.card:hover {
  opacity: 1;
}

.card:nth-child(1):hover {
  border-bottom: var(--accent-color-1) solid 10px;
}

.card:nth-child(1):hover #react-icon {
  color: var(--accent-color-1);
  background: #1598c0;
}

.card:nth-child(2):hover {
  border-bottom: var(--accent-color-2) solid 10px;
}

.card:nth-child(2):hover #node-icon {
  color: var(--accent-color-2);
  background: #6f8c41;
}

.card:nth-child(3):hover {
  border-bottom: var(--accent-color-3) solid 10px;
}

.card:nth-child(3):hover #cloud-icon {
  color: var(--accent-color-3);
  background: #4f2839;
}

.card-icon {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 900;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 12px;
  transition: color 500ms, background-color 500ms;
}

.card-title {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-body {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

#projects-container {
  text-align: center;
  margin-bottom: 50px;
}

#projects-container img {
  width: 1000px;
  height: 600px;
}

#projects-title {
  margin-bottom: 20px;
}

.tags {
  margin: 10px;
}

.tags span {
  border-radius: 4px;
  padding: 5px;
  font-size: 1em;
}

.tags a {
  color: var(--text-color);
  font-weight: bolder;
  border: solid 2px var(--primary-color);
  transition: background-color 500ms;
  padding: 10px;
  display: inline-flex;
  margin-top: 10px;
}

.tags a:hover {
  background-color: var(--primary-color);
}

.carousel {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

.flickity-page-dots {
  bottom: 110px;
  mix-blend-mode: difference;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-prev-next-button {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#contact-title {
  text-align: center;
  margin-bottom: 40px;
}

#contact-content {
  display: flex;
  padding: 3px;
  width: 90%;
}

#contact-details {
  line-height: 39px;
  margin-bottom: 20px;
}

.contact-details-group {
  display: flex;
  align-items: center;
}

.contact-details-group i {
  margin-right: 10px;
  font-size: 15px;
}

.contact-details-group img {
  margin-top: 10px;
}

#adress-content {
  width: 50%;
  padding-left: 20px;
}

#map {
  width: 90%;
  margin: 15px auto;
  height: 130px;
}

#form-content {
  width: 50%;
  padding-left: 20px;
  padding: 0 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group i {
  position: relative;
  top: -27px;
  width: fit-content;
}

.form-group .fa-comment {
  top: -137px;
}

.form-group textarea {
  height: 126px;
  resize: none;
}

.form-group textarea::-webkit-scrollbar {
  width: 5px;
}

.form-group textarea::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
}

.form-group input,
textarea {
  padding-left: 25px;
  padding-bottom: 10px;
}

#form-content input,
textarea {
  margin-top: 25px;
  background-color: var(--background-color);
  border: none;
  border-bottom: solid 1px var(--form-border);
  color: var(--text-color);
}

#form-content input:focus,
textarea:focus {
  outline: none;
}

#effect-row {
  top: -17px;
  position: relative;
  width: 0;
  height: 1px;
  background: var(--primary-color);
  transition: width 500ms ease-out;
}

#form-content input:focus ~ #effect-row,
textarea:focus ~ #effect-row {
  width: 100%;
}

#form-content input:focus ~ i,
textarea:focus ~ i {
  color: var(--primary-color);
}

#form-content button {
  cursor: pointer;
  margin-top: 29px;
  float: right;
  color: var(--text-color);
  padding: 5px 10px;
  font-weight: bolder;
  border: solid 2px var(--primary-color);
  background-color: transparent;
  transition: background-color 500ms;
}

#form-content button:hover {
  background-color: var(--primary-color);
}

#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-container i {
  font-size: 30px;
  margin-left: 15px;
}

#whatsapp-icon {
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#whatsapp-icon-link {
  pointer-events: none;
}

/* Media queries */
@media (max-width: 1050px) {
  #card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin: auto;
    max-width: 313px;
    margin-bottom: 10px;
    overflow: unset;
    margin: 12px;
  }
}

@media (max-width: 800px) {
  #adress-content {
    width: 100%;
    margin-top: 40px;
    padding: 0;
  }

  #contact-container {
    margin-bottom: 0;
  }

  #contact-content {
    flex-direction: column-reverse;
  }

  #contact-content h3 {
    display: none;
  }

  .flickity-page-dots {
    display: none;
  }

  #projects-container img {
    width: 500px;
    height: 300px;
  }

  .carousel {
    width: 500px;
    height: 390px;
    margin: 0 auto;
  }

  #form-content {
    width: 100%;
    padding: 0;
  }

  #map {
    display: none;
  }

  #whatsapp-button {
    display: none;
  }

  #whatsapp-icon {
    width: 80px;
    height: 80px;
    bottom: 20px;
    right: 20px;
  }
  #footer-container {
    height: 107px;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 630px) {
  body {
    margin: 40px 30px;
  }

  @media (max-width: 400px) {
    #form-content button {
      width: 100%;
    }
  }

  #header > * {
    text-align: center;
    display: none;
  }

  #header > #language-selector {
    display: block;
  }

  /* #burger-icon {
    display: flex;
    position: absolute;
    left: 85%;
    top: 3%;
    font-size: 35px;
    z-index: -1;
  }

  #burger-icon:focus-within ~ #burger-menu {
    width: 230px;
    background: #f2545b;
  }

  #burger-icon:focus-within ~ #burger-menu li {
    display: flex;
  }

  #burger-menu {
    display: flex;
    background: #f2545b;
    position: absolute;
    right: -18%;
    top: -3%;
    width: 0px;
    height: 230px;
    transition: width 500ms;
    border-radius: 100%;
    opacity: 95%;
  }

  #burger-menu ul {
    margin-top: 84px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #burger-menu li {
    margin-bottom: 22px;
    margin-left: 21px;
    list-style: none;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
  } */

  #profile-container {
    margin: 50px auto;
  }

  #profile-name {
    font-size: 2.5rem;
  }

  #profile-description {
    font-size: 1.4rem;
  }

  #card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    min-width: auto;
  }

  #projects-container img {
    width: 325px;
    height: 195px;
  }

  .carousel {
    width: 325px;
    height: 300px;
    margin: 0 auto;
  }

  #footer-container span {
    display: block;
  }
}
